{% extends "template.html" %}
{% block content %}

<div class="container"> 

	<h1 class="title-gain">Meus Ganhos</h1>

	<div class="dropdown-gain">
		<h2 class="dropdown-gain-title">2024</h2>
		<div class="dropdown-gain-content">
			<div class="col-md-6">
				<div class="panel panel-success">
					<a href="#">
					<div class="panel-heading bg-gain-month">
						<h3 class="panel-title">Dezembro</h3>
						<div class="pull-right">
							<span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
								<i class="glyphicon glyphicon-filter"></i>
							</span>
						</div>
					</div>
					</a>
					<div class="panel-body">
						<input type="text" class="form-control" id="task-table-filter" data-action="filter" data-filters="#task-table" placeholder="Filter Tasks" />
					</div>
					<table class="table table-hover table-gain" id="task-table">
						<thead>
							<tr>
								<th>Data</th>
								<th>Nome</th>
								<th>Tipo</th>
								<th>Valor</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>12/12/24</td>
								<td>Salario</td>
								<td>Fixo</td>
								<td>R$ 1.500</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-success">
					<a href="#">
					<div class="panel-heading bg-gain-month">
						<h3 class="panel-title">Dezembro</h3>
						<div class="pull-right">
							<span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
								<i class="glyphicon glyphicon-filter"></i>
							</span>
						</div>
					</div>
					</a>
					<div class="panel-body">
						<input type="text" class="form-control" id="task-table-filter" data-action="filter" data-filters="#task-table" placeholder="Filter Tasks" />
					</div>
					<table class="table table-hover table-gain" id="task-table">
						<thead>
							<tr>
								<th>Data</th>
								<th>Nome</th>
								<th>Tipo</th>
								<th>Valor</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>12/12/24</td>
								<td>Salario</td>
								<td>Fixo</td>
								<td>R$ 1.500</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="dropdown-gain">
		<h2 class="dropdown-gain-title" >2025</h2>
		<div class="dropdown-gain-content">
			<div class="col-md-6">
				<div class="panel panel-success">
					<a href="#">
					<div class="panel-heading bg-gain-month">
						<h3 class="panel-title">Dezembro</h3>
						<div class="pull-right">
							<span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
								<i class="glyphicon glyphicon-filter"></i>
							</span>
						</div>
					</div>
					</a>
					<div class="panel-body">
						<input type="text" class="form-control" id="task-table-filter" data-action="filter" data-filters="#task-table" placeholder="Filter Tasks" />
					</div>
					<table class="table table-hover table-gain" id="task-table">
						<thead>
							<tr>
								<th>Data</th>
								<th>Nome</th>
								<th>Tipo</th>
								<th>Valor</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>12/12/24</td>
								<td>Salario</td>
								<td>Fixo</td>
								<td>R$ 1.500</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-success">
					<a href="#">
					<div class="panel-heading bg-gain-month">
						<h3 class="panel-title">Dezembro</h3>
						<div class="pull-right">
							<span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
								<i class="glyphicon glyphicon-filter"></i>
							</span>
						</div>
					</div>
					</a>
					<div class="panel-body">
						<input type="text" class="form-control" id="task-table-filter" data-action="filter" data-filters="#task-table" placeholder="Filter Tasks" />
					</div>
					<table class="table table-hover table-gain" id="task-table">
						<thead>
							<tr>
								<th>Data</th>
								<th>Nome</th>
								<th>Tipo</th>
								<th>Valor</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>12/12/24</td>
								<td>Salario</td>
								<td>Fixo</td>
								<td>R$ 1.500</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


	<div class="dropdown-gain">
		<h2 class="dropdown-gain-title" >2026</h2>
		<div class="dropdown-gain-content">
			<div class="col-md-6">
				<div class="panel panel-success">
					<a href="#">
					<div class="panel-heading bg-gain-month">
						<h3 class="panel-title">Dezembro</h3>
						<div class="pull-right">
							<span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
								<i class="glyphicon glyphicon-filter"></i>
							</span>
						</div>
					</div>
					</a>
					<div class="panel-body">
						<input type="text" class="form-control" id="task-table-filter" data-action="filter" data-filters="#task-table" placeholder="Filter Tasks" />
					</div>
					<table class="table table-hover table-gain" id="task-table">
						<thead>
							<tr>
								<th>Data</th>
								<th>Nome</th>
								<th>Tipo</th>
								<th>Valor</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>12/12/24</td>
								<td>Salario</td>
								<td>Fixo</td>
								<td>R$ 1.500</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-success">
					<a href="#">
					<div class="panel-heading bg-gain-month">
						<h3 class="panel-title">Dezembro</h3>
						<div class="pull-right">
							<span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
								<i class="glyphicon glyphicon-filter"></i>
							</span>
						</div>
					</div>
					</a>
					<div class="panel-body">
						<input type="text" class="form-control" id="task-table-filter" data-action="filter" data-filters="#task-table" placeholder="Filter Tasks" />
					</div>
					<table class="table table-hover table-gain" id="task-table">
						<thead>
							<tr>
								<th>Data</th>
								<th>Nome</th>
								<th>Tipo</th>
								<th>Valor</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>12/12/24</td>
								<td>Salario</td>
								<td>Fixo</td>
								<td>R$ 1.500</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div> <!--container-->

{% endblock %}
