{% extends "template.html" %}
{% block content %}

<div class="container"> 

	<h1 class="title-gain">Meus Ganhos</h1>
	{{ gain_data }}
	{{ other }}
	{% if gain_data %}
		{% for year in gain_data %}
			<div class="dropdown-gain">
				<span class="dropdown-gain-title"><h2 >{{ year }}</h2><i class='bx bx-chevron-down' ></i></span>
			<div class="dropdown-gain-content">
				<div class="col-md-6">
					<div class="panel panel-success" style="display: inline;">
						
						<div class="panel-heading bg-gain-month">
							<h3 class="panel-title">Dezembro</h3>
							<div class="pull-right">
								<span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
									<i class="glyphicon glyphicon-filter"></i>
								</span>
							</div>
						</div>
						
						<div class="panel-body">
							<input type="text" class="form-control" id="task-table-filter" data-action="filter" data-filters="#task-table" placeholder="Filter Tasks" />
						</div>
						<table class="table table-hover table-gain" id="task-table">
							<thead>
								<tr>
									<th>Data</th>
									<th>Nome</th>
									<th>Tipo</th>
									<th>Valor</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				
			</div>
			</div>
		{% endfor %}
	{% endif %}
<a href="/gain/new" class="new-gain-button"><button type="button" class="btn btn-success"> <i class='bx bx-plus-circle'></i> </button></a>

</div> <!--container-->

{% endblock %}
