{% extends "template.html" %}
{% block content %} 
<!--Container Main start-->
     <div class="height-100 bg-light" style="padding-top:1%;">
      <div class="container aba aba-ganho" style="background-color: #D6F5C5;"> 
        <h1 class="aba-title">Últimos Ganhos </h1> <i class='bx bx-happy-beaming aba-icon'></i> 
        <ul class="aba-unordered-list">
          <li class="aba-item">Salario R$1500</li>
          <li class="aba-item">Salario R$1500</li>
          <li class="aba-item">Salario R$1500</li>          
        </ul>
      </div>
      <div class="container aba" style="background-color: #ffc5c5;">
        <h1 class="aba-title">Últimos Gastos</h1> <i class='bx bx-meh-alt aba-icon' ></i>
        <ul class="aba-unordered-list">
          <li class="aba-item">Salario R$1500</li>
          <li class="aba-item">Salario R$1500</li>
          <li class="aba-item">Salario R$1500</li>          
        </ul>        
        
      </div> 
      <div class="container aba" style="background-color: #cfeeff;">
        <h1 class="aba-title">Investimentos</h1> <i class='bx bx-cool aba-icon' ></i>
        <ul class="aba-unordered-list">
          <li class="aba-item">Salario R$1500</li>
          <li class="aba-item">Salario R$1500</li>
          <li class="aba-item">Salario R$1500</li>          
        </ul>
        
      </div>       
    </div>  
    <!--Container Main end-->
{% endblock %}
