{% extends "template.html" %}
{% block content %} 
<!--Container Main start-->
     <div class="height-100 bg-light" style="padding-top:1%;">
      <div class="container aba aba-ganho" style="background-color: #D6F5C5;"> 
        <h1 class="aba-title">Ganhos</h1> 
	<div class="aba-content">
	<div class="aba-total">
		<h2>Total</h2>
		<div><h3 class="aba-subtitle-total">Esse mÊs </h3><span class="aba-value"> R$ 4500</span></div>
		<div><h3 class="aba-subtitle-total">últimos 3 meses</h3><span class="aba-value"> R$ 16.500</span></div>
		<div><h3 class="aba-subtitle-total">Esse ano</h3><span class="aba-value"> R$ 45.000</span></div>
	</div>
		<div class="aba-news">
			<h2>Novidades</h2>
			<ul>
				<li>Seu saldo aumentou 10%!</li>
				<li>Que pena, esse mes foi o pior!</li>
			</ul>
		</div>
	</div>
      </div>
  <div class="container aba aba-ganho" style="background-color: rgba(209, 39, 26, 0.3); ">
        <h1 class="aba-title">Gastos</h1>
        <div class="aba-content">
        <div class="aba-total">
                <h2>Total</h2>
                <div><h3 class="aba-subtitle-total">Esse mÊs </h3><span class="aba-value"> R$ 4500</span></div>
                <div><h3 class="aba-subtitle-total">últimos 3 meses</h3><span class="aba-value"> R$ 16.500</span></div>
                <div><h3 class="aba-subtitle-total">Esse ano</h3><span class="aba-value"> R$ 45.000</span></div>
        </div>
                <div class="aba-news">
                        <h2>Novidades</h2>
                        <ul>
                                <li>Seu saldo aumentou 10%!</li>
                                <li>Que pena, esse mes foi o pior!</li>
                        </ul>
                </div>
        </div>
      </div>

          <div class="container aba aba-ganho" style="background-color: rgba(26, 39, 209, 0.3); " >
        <h1 class="aba-title">Investimentos</h1>
        <div class="aba-content">
        <div class="aba-total">
                <h2>Total</h2>
                <div><h3 class="aba-subtitle-total">Esse mÊs </h3><span class="aba-value"> R$ 4500</span></div>
                <div><h3 class="aba-subtitle-total">últimos 3 meses</h3><span class="aba-value"> R$ 16.500</span></div>
                <div><h3 class="aba-subtitle-total">Esse ano</h3><span class="aba-value"> R$ 45.000</span></div>
        </div>
                <div class="aba-news">
                        <h2>Novidades</h2>
                        <ul>
                                <li>Seu saldo aumentou 10%!</li>
                                <li>Que pena, esse mes foi o pior!</li>
                        </ul>
                </div>
        </div>
      </div>
      </div>
    </div>  
    <!--Container Main end-->
{% endblock %}
